aubio===0.4.3alpha-libaubio
cycler==0.10.0
matplotlib==1.5.1
PyAudio==0.2.9
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
Pillow==3.3.0
numpy==1.11.1
Pillow==3.3.0
pkg-resources==0.0.0
pygame==1.9.2.dev1
scipy==0.18.0
SimpleCV==1.3
